h1,
p {
  text-align: center;
  align-content: center;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;
}

@media only screen and (max-width: 479px) {
  body {
    background-color: #d7385e;
  }

  p {
    font-size: 10px;
  }

  .flex-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
  body {
    background-color: #03c4a1;
  }

  p {
    font-size: 12px;
  }

  #small {
    width: 66%;
  }

  #medium {
    width: 33%;
  }

  #large {
    width: 100%;
  }

  .flex-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    background-color: #edc988;
  }

  p {
    font-size: 14px;
  }

  .flex-container {
    flex-direction: row;
  }
}
